::ng-deep .my-class .modal-dialog {
    max-width: 75%;
    width: 75%;
}
.form-control-plaintext {
    padding: 5px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

.form-label,
label {
    margin-bottom: 0;
}

.data-table {
    max-width: 100%;
}
.data-table {
    min-height: 200px !important;
}

td {
    padding: 0;
    padding-top: 0 !important;
}

td .form-control {
    margin: 0;
    border: 0;
    padding: 1px;
    text-align: center;
    background: white;
    border-radius: 0;
    border: 1px solid rgb(213, 247, 253);
}
td .form-control:focus {
    background: rgb(214, 238, 250);
    border: 1px dotted rgb(77, 79, 82);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.last-tr {
    background: rgb(246, 246, 247) !important;
    color: rgb(72, 72, 72);
}

.last-tr td {
    //background: rgb(204, 239, 255);
    text-align: center;
    font-weight: bold;
    border-left: 3px solid #fff !important;
}

.shadow {
    box-shadow: 0 0 2px 0px;
}

.card {
    background: rgb(245, 245, 245);
}
table th,td{
    vertical-align: middle;
  }
  td{
    padding: 0;
    padding-top: 0 !important;
  }

  
  td .form-control:focus{
    background: #ddffdd;
    border: 1px dotted #555;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  tbody {
    display:block;
    height:300px;
    overflow:scroll;
    background: #efe;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
  }
  thead {
    width: calc( 100% - 5px)/* scrollbar is average 1em/16px width, remove it from thead width */
  }
  table {
    widows: 100%;
  }